.content{
    width:1000px;
    margin:auto;
    min-height:300px;
    background-color: snow;
    padding-top:70px;
}
.question{
    margin-bottom: 20px;
}
.navbar-header h3{
    color:white;
}
p{
    margin-left:10px;
}
@media screen and (max-width:450px){
    .content{
        width:80%;
    }
}